.header__container {
    width: 100%;
    background: #EFEEEE;
    display: flex;
    justify-content: center;
    height: 170px;
}

.header__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 150px;
}

.header__logo {
    background-image: url("../Images/Coccinelle.png");
    background-repeat: no-repeat;
    z-index: 3;
    width: 135px;
    height: 14px;
    cursor: pointer;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

.header__list-item a {
    margin-right: 56px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    opacity: 1;
    transition: opacity .2s ease .1s;
}

.header__list-item a:hover {
    border-bottom: 1px solid #000000;
}

.header__sale {
    display: flex;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: #ffffff;
    align-items: center;
    justify-content: center;
}

.header__sale-link {;
    color: #CC1E21;
    font-weight: 700;
    font-size: 20px;
    line-height: 155.5%;
    text-decoration: none;
    transition: opacity .2s ease .1s;
    opacity: 1;
}

.header__sale:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.header__burger {
    display: none;
}


@media screen and (max-width: 1670px) {
    .header__section {
        margin: 0 100px;
    }
}

@media screen and (max-width: 1439px) {

    .header__container {
        height: 124px;
    }

    .header__logo {
        width: 120px;
        height: 13px;
        background-size: 100%;
    }

    .header__list-item a {
        margin-right: 30px;
        font-size: 14px;
    }

    .header__sale {
        width: 100px;
        height: 100px;
    }

    .header__sale-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 1180px) {
    .header__section {
        margin: 0 80px;
    }
}

@media screen and (max-width: 1023px) {
    .header__list {
        display: none;
    }
    .header__burger_visible {
        display: block;
        width: 44px;
        height: 44px;
        border: none;
        background: transparent;
        position: relative;
        padding: 0;
        margin-left: 40px;
    }

    .header__burger_visible::after {
        display: block;
        content: "\2261";
        position: absolute;
        top: -1px;
        right: 7px;
        font-size: 3em;
    }

    .header__burger_visible:hover {
        cursor: pointer;
        opacity: .7;
    }
}