.main {
    width: 100%;
    background: #FDFDFD;
    position: relative;
    z-index: 1;
}

.main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    height: 947px;
}

.main__container-img {
    width: 922px;
    height: 100%;
}

.main__img {
    display: block;
    background-image: url("../Images/bag-girl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.main__container-text {
    width: 672px;
}

.main__container-title {
    margin: 131px 0 206px;
    width: 100%;
}

.main__title {
    font-weight: 400;
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -0.035em;
    color: #CC1E21;
    margin: 0;
}

.main__subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.035em;
    margin: 20px 0 0;
}

.main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 155.5%;
    margin: 47px 0 0;
    font-family: 'Monda', sans-serif;
    max-width: 600px;
}

.main__button {
    padding: 25px 42px;
    background: #CC1E21;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 155.5%;
    color: #ffffff;
    border: none;
    position: relative;
    z-index: 3;
    cursor: pointer;
    opacity: 1;

}

.main__button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.main__circle {
    width: 385px;
    height: 385px;
    border-radius: 50%;
    background: #EFEEEE;
    position: absolute;
    left: -80px;
    bottom: 100px;
    z-index: 2;
}

@media screen and (max-width: 1670px) {
    .main__container {
        margin-left: 100px;
        height: 854px;
    }

    .main__container-img {
        width: 813px;
        height: 100%;
    }

    .main__img {
        background-size: 100%;
        background-position: center;
        --moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
    }

    .main__container-text {
        width: 519px;
    }

    .main__container-title {
        margin: 74px 0 251px;
    }


    .main__title {
        font-size: 40px;
        line-height: 45px;
    }

    .main__subtitle {
        font-size: 32px;
        margin: 17px 0 0;
    }

    .main__circle {
        bottom: 60px;
    }

    .main__text {
        margin-top: 54px;
    }
}

@media screen and (max-width: 1439px) {

    .main {
        height: 809px;
    }

    .main__container {
        height: 100%;
    }

    .main__container-img {
        width: 433px;
        height: 100%;
    }

    .main__img {
        display: block;
        background-image: url("../Images/bag.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .main__container-title {
        margin: 100px 0 248px;
    }

    .main__circle {
        bottom: 10px;
        width: 323px;
        height: 323px;

    }

    .main__button {
        padding: 19px 44px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1180px) {
    .main__container {
        margin-left: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .main {
        height: 904px;
    }

    .main__container {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .main__container-img {
        width: 320px;
        height: 562px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .main__container-title {
        margin: 74px 0 191px;
    }

    .main__circle {
        bottom: 180px;
        left: -150px;
    }
}

@media screen and (max-width: 650px) {

    .main__container {
        margin-left: 20px;
    }

    .main__container-title {
        margin: 60px 0 157px;
    }

    .main__title {
        font-size: 24px;
        line-height: 27px;
    }

    .main__subtitle {
        font-size: 20px;
        line-height: 22px;
        margin: 15px 0 0;
    }

    .main__container-text {
        width: 300px;
    }

    .main__text {
        font-size: 14px;
        line-height: 22px;
        /*width: 300px;*/
        margin-top: 34px;
    }

    .main__circle {
        width: 253px;
        height: 253px;
        bottom: 280px;
        left: -130px;
    }

    .main__button {
        padding: 16px 34px;
        font-size: 12px;
        font-weight: 500;
    }

    .main__container-img {
        width: 197px;
        height: 345px;
    }
}