.cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1428px;
}

.cardList__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.11em;
    color: #CC1E21;
    text-align: center;
    margin: 0 0 64px;
}

.cardList__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;

}

.cardList__section-button {
    width: 142px;
    margin: 75px 0 130px;
}

.cardList__button {
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding: 0;
    cursor: pointer;
}

.cardList__button_border {
    border-bottom: 1px solid #000000;
    margin-top: 10px;
    cursor: pointer;
}

.cardList__button:hover {
    color: #CC1E21;
}

.cardList__button_border:hover {
    border-bottom: 1px solid #CC1E21;
}

@media screen and (max-width: 1670px) {
    .cardList {
        width: 85%;
    }
}

@media screen and (max-width: 1520px) {

    .cardList {
        max-width: 1240px;
    }
}

@media screen and (max-width: 1440px) {
    .cardList {
        width: 1240px;
    }
}

@media screen and (max-width: 1439px) {
    .cardList {
        width: 85%;
    }
}

@media screen and (max-width: 1240px) {
    .cardList {
        width: 747px;
    }

    .cardList__container {
        flex-wrap: wrap;
    }

    .cardList__section-button {
    margin: 16px 0 140px;
}
}

@media screen and (max-width: 850px) {
    .cardList {
        width: 620px;
    }

    .cardList__container {
        flex-wrap: wrap;
    }

    .cardList__title {
        font-weight: 700;
        font-size: 40px;
        margin: 0 0 64px;
    }
}

@media screen and (max-width: 650px) {
    .cardList {
        width: 297px;
    }
}


